<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215909774861-epj9haufokh0jppv7f3hg6qoa8g35b9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215909774861-epj9haufokh0jppv7f3hg6qoa8g35b9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDK5nT_FWpc7dAoM7pyCMNBwmYQ0-xCq0E</string>
	<key>GCM_SENDER_ID</key>
	<string>215909774861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junghun.facechat</string>
	<key>PROJECT_ID</key>
	<string>facechat-486a3</string>
	<key>STORAGE_BUCKET</key>
	<string>facechat-486a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215909774861:ios:8692e2a0e2f14f80280744</string>
</dict>
</plist>